* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}

.header {
 margin: 10px 10px;
 display: flex;
 justify-content: space-between;
 border: 1px solid black;
}

.logo {
 width: 100px
}

.logo>img {
 width: 100%;
}

.nav-links {
 margin-top: 20px;
}

.list {
 display: flex;
 list-style-type: none;
}

.list>li {
 margin: 10px;
 font-size: large;
 cursor: pointer;
}


.login {
 padding: 3px 1rem;
 margin-right: 5px;
}

/*********************************************************/

/* Other */

/*********************************************************/

.searchInput {
 width: 40vw;
 margin: 0 10px;
}


/*********************************************************/

/* card */

/*********************************************************/


.card {
 margin: 10px;
 width: 200px;
 /* height: 300px; */
 border: 1px solid black;
}



.res-img>img {
 height: 130px;
 width: 100%;
}

.container {
 display: flex;
 justify-content: space-between;
}

.rating {
 color: green;
}

.items-container {

 max-width: 100%;
 overflow: hidden;
 overflow-wrap: break-word;


}


.items {
 margin-top: 5px;
 color: grey;

 white-space: nowrap;
}




/*********************************************************/

/* body */

/*********************************************************/


.body {
 display: flex;
 flex-wrap: wrap;

}


.cards {
 background-color: #f0f0f0;
 display: flex;
 flex-wrap: wrap;

}

.cards>.card {
 width: 200px;
 height: 249px;
}